@charset "UTF-8";
img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

header .container {
  background-color: rgba(228, 230, 235, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container li {
  font-size: 20px;
  margin-right: 10px;
}

header .container a {
  color: #fff;
}

header .container p {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Mansalva', cursive;
}

.first-view {
  display: block;
  padding-top: 70px;
}

.first-name {
  padding: 50px 20px;
}

.first-name__title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  font-family: ヒラギノ明朝 Pro;
}

.first-name__explain {
  margin-top: 50px;
  padding: 0 10px;
  color: #333;
  font-size: 15px;
}

.first-name p {
  line-height: 1.5em;
}

.cat {
  background-color: #FCF6F2;
  padding: 50px 20px;
}

.cat .center {
  text-align: center;
}

.cat__title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  font-family: ヒラギノ明朝 Pro;
}

.cat__explain {
  margin-top: 50px;
  padding: 0 10px;
  color: #333;
  font-size: 15px;
}

.cat p {
  line-height: 1.5em;
}

.cat .image-text {
  margin-top: 60px;
}

.cat .image-text__image {
  height: auto;
  display: block;
  margin: 0 auto;
}

.cat .image-text__text {
  font-size: 15px;
  line-height: 1.5em;
  margin: 0 auto;
}

.cat .image-text img {
  display: block;
}

.cat .image-text .turn1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.cat .image-text .turn2 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.cat .margin-top {
  margin-top: 100px;
}

.cat .image-top {
  margin-top: 20px;
}

.cat .text-top {
  margin-top: 20px;
}

.cat__information {
  border-top: 1px solid #777;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cat__information > p:first-child {
  font-weight: bold;
}

.cat__information p:last-child {
  width: 350px;
